@page "/userProfile"
<h3>Profil</h3>
<p> This page is under constrution...</p>
<form>
    <label for="userId">søg på brugernavn </label>
    <input type="text" id="userId" name="UserID"><br><br>
    <button>Søg</button>
</form>
@code {

}
